.hourlyForecast {
  grid-row: span 2;
  background-color: var(--surface-secondary);
  padding: var(--space-6) var(--space-4);
  border-radius: var(--space-4);
  max-height: 38.625rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #4e4e4e;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #888;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #707070;
  }
}

.hourlyForecast .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.825rem;
}

.hourlyForecast .header h2 {
  font-size: 1.25rem;
}

.hourlyForecast .hourlyForecast_body {
  display: grid;
  row-gap: 0.725rem;
}

.hourSkeleton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-2) var(--space-4);
  border-radius: var(--space-2);
  background-color: var(--surface-elevated);

  & > div {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
  }
}

.iconSkeleton {
  width: 30px;
  height: 30px;
  border-radius: var(--space-2);
}

.timeLine {
  width: 3rem;
  height: 1rem;
}

.tempLine {
  width: 2.5rem;
  height: 1rem;
}

/* --bp-xl */
@media (width <= 1330px) {
  .hourlyForecast {
    grid-row-start: 3;
    grid-column: 1/3;
  }
}
