.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: calc(70px / var(--base) * 1rem);
  align-items: center;
  max-width: calc(1440px / var(--base) * 1rem);
  margin: 0 auto;
}

@media (width <= 1330px) {
  .main {
    padding: calc(24px / var(--base) * 1rem) calc(32px / var(--base) * 1rem);
  }
}

@media (width <= 1144px) {
  .main {
    padding: calc(10px / var(--base) * 1rem) calc(32px / var(--base) * 1rem);
  }
}
