.dropdownButton {
  border-radius: var(--space-2);
  background-color: var(--surface-secondary);
  padding: var(--space-2) var(--space-4);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  color: var(--text-primary);
  column-gap: var(--space-2);
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 100ms;
  transition-property: width;

  &:focus {
    outline: 2px solid white;
    outline-offset: 3px;
  }
}

.container {
  position: relative;
}

@media (width <= 450px) {
  .dropdownButton {
    width: 6rem;
  }
}
