.card {
  border-radius: var(--space-4);
  background-color: var(--surface-secondary);
  padding: var(--space-4) var(--space-4);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;
  min-width: 6.5rem;
}

.card .temperature_box {
  justify-content: space-between;
  width: -webkit-fill-available;
  display: flex;

  & > p:last-child {
    color: var(--text-secondary);
  }
}
