.container {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: var(--space-6);
  grid-row-start: 1;
}

.smallWidgetContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.2rem;
}

/* --bp-xl */
@media (width <= 1330px) {
  .container {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

/* --bp-md */
@media (width <= 768px) {
  .smallWidgetContainer {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-2);
  }
}
